<div class="container">
    <div class="container px-4">
        <div class="container py-5 ">
            <div class="row row-cols-5 row-cols-lg-4 g-2 g-lg-4">
                <% if(typeof clubs!=="undefined" && clubs.length>0) { %>
                    <% clubs.forEach(function(club,index){%>
                        <a href="/clubs/<%=club.name %>"
                            class="category__link text-decoration-none col text-center text-primary">
                            <div class="category__img category__img--large shadow">
                                <img src="/images/<%=club.image%>" alt="<%=club.name%>" loading="lazy">
                            </div>
                            <div class="card h-0">
                                <div class="pt-1">
                                    <%=club.name%>
                                </div>
                                <p class="card-text text-dark pt-1">
                                    <%=club.description%>

                                </p>

                            </div>
                        </a>
                        <%})%>
                            <%} else {%>
                                <p>No items found</p>

                                <%}%>

            </div>
        </div>
    </div>
</div>































<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Centered hero</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most
            popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system,
            extensive prebuilt components, and powerful JavaScript plugins.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>
</div>